* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/fone.png);
    font-family: Tahoma, sans-serif;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 3px 2px 1px #141414;
}

header {
    position: relative;
}

/* ########## LIST CONTACTS ######### */

.contacts ul {
    color: #128aa7;
    font-size: 12px;
    list-style: none;
    line-height: 1.5;
}

.contacts {
    margin: 10px 35px;
    float: right;
}

.hed-contacts {
    font-weight: 700;
}

/* ########## LOGOTYPE ########## */

.logo {
    height: 164px;
    padding: 11px 0 0 30px;
}

.logo div {
    color: #128aa7;
    font-size: 12px;
    position: absolute;
    top: 110px;
    left: 95px;
}

/* ########## COUNTRY MENU ########## */

.country {
    position: absolute;
    top: 110px;
    right: 30px;
}

.country a {
    color: #128aa7;
    width: 60px;
    text-align: center;
    font-size: 10px;
    display: inline-block;
}

.country a:hover {
    text-decoration: none;
}

/* ########## SLIDER ########## */

.photo {
    width: 1000px;
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
}

/* ##########  NAV MENU ########## */

.menu {
    padding: 0 0 0 70px;
    background-color: #343434;
    border-bottom: 1px solid #141414;
    box-shadow: 0px 4px 4px #141414;
}

.menu li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.menu a {
    color: #ffffff;
    padding: 0 45px 0 10px;
    line-height: 30px;
    text-decoration: none;
    font-size: 14px;
    display: block;
}

.menu a:hover {
    text-shadow: 1px 1px 5px #ffffff;
}

/* ##########  NAV SUBMENU ########## */

.submenu {
    background-color: #343434;
    border-top: 2px solid #141414;
    box-shadow: 0px 4px 4px #141414;
    position: absolute;
    display: none;
}

.menu li:hover ul {
    display: block;
}

/* ########## CONTENT ########## */

.content {
    color: #424c43;
    display: flex;
    justify-content: space-between;
}

.content h4 {
    text-align: center;
}

.content p {
    font-size: 14px;
}

.left-c {
    width: 175px;
    background-color: #edeef0;
    border-right: 1px solid #c7cacf;
    padding: 10px 20px;
    line-height: 1.5;
}

.right-c {
    width: 175px;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
    padding: 10px 20px;
    line-height: 1.5;
}

/* ########## FOOTER ########## */
footer {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding: 15px;
}
