* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../img/fone.png);
    background-color: #3ec3d1;
    font-family: Tahoma, sans-serif;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff
}

header {
    position: relative;
}

.contacts ul {
    color: #128aa7;
    font-size: 14px;
    list-style: none;
    text-decoration: none;
}

.contacts {
    margin: 10px 35px;
    float: right;
}

.hed-contacts {
    font-weight: 700;
}

.logo {
    height: 164px;
    padding: 11px 0 0 30px;
}
.logo div {
    color: #128aa7;
    font-size: 13px;
    position: absolute;
    top: 110px;
    left: 90px;
}

.country {
    clear: both;
    position: absolute;
    top: 110px;
    right: 30px;
}

.country a {
    color: #128aa7;
    width: 60px;
    text-align: center;
    font-size: 11px;
    display: inline-block;
}

.country a:hover {
	text-decoration: none;
	color: #0c00ff;
}

.photo {
    width: 1000px;
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
}

/* ###########  НЕ ТРОГАТЬ ############## */
.menu {
    height: 30px;
    padding: 0 0 0 70px;
    background-color: #343434;
    box-shadow: 0px 4px 4px #303030;
}
.menu li {
    width: auto;
    display: inline-block;
    position: relative;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 45px 0 10px;
    /*text-align: center;*/
    line-height: 30px;
    font-size: 15px;
    display: block;
}

.menu ul {
    width: 100%;
    position: absolute;
    display: none;
    background-color: #343434;
    box-shadow: 0px 4px 4px #303030;
}

.menu li:hover ul {
    display: block;
}
